.watermelon {
    width: 500px;
    height: 500px;
    background-color: green;
    transition: width 2s, height 2s;
}

/* 다른 방법 */
/* @media (100px <= width <= 800px) { */
@media (min-width: 100px) and (max-width: 500px) {
    .watermelon {
        width: 300px;
        height: 300px;
        background-color: red;
        border: 10px solid green;
        border-radius: 50%;
    }
}
